
:root {
    --color-a: #1D5583;
    --color-b: #0B75AB;
    --color-c: #0196d6;
    --color-d: lightgray;
    --color-t: #414141;
    --color-w: #fff;
  }
  
  * {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1 {
    font-size: 9pt;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-t);
  }
  
  #div-geral {
    margin: 50px auto;
    padding: 20px;
    background: var(--color-d);
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
  }
  
  #div-header {
    background-color: var(--color-w);
    margin: -20px -20px 10px -20px;
    border-radius: 10px 10px 0 0;
    padding: 5px 25px;
  }
  
  #div-interna {
    margin: 20px auto;
    padding: 5px;
    display: block;
  }
  
  input {
    border-radius: 5px;
    border-style: solid;
    height: 30px;
  }
  
  #input-valor {
    text-align: right;
    margin: 0 auto 20px auto;
    width: calc(100% - 8px);
  }
  
  #btn-submit {
    border-style: solid;
    border-width: 2pt;
    border-radius: 5px;
    border-color: var(--color-a);
    background-color: var(--color-b);
    margin: auto;
    width: 100%;
    font-family: 'Segoe UI';
    font-weight: 800;
    color: #fff;
    cursor: pointer;
  }
  
  #btn-submit:hover {
    border-color: var(--color-b);
    background-color: var(--color-c);
    transition: 600ms ease 100ms;
  }
  
  #lbl-valor-saida {
    margin: 20px auto;
    height: 30px;
    text-align: center;
  }
